In [25]:
import pandas as pd
import os
import json

In [5]:
path = os.getcwd()
parent_dir = os.path.abspath(os.path.join(path, os.pardir))
data_dir = os.path.join(parent_dir, "raw_data")
data_dir

'c:\\Users\\julia\\Desktop\\sem2\\NLP\\NLP-lab\\raw_data'

In [7]:
reddit_1 = pd.read_json(os.path.join(data_dir, "reddit_scraped.json"))
reddit_2 = pd.read_feather(os.path.join(data_dir, "reddit_scraped.feather"))
reddit_3 = pd.read_json(os.path.join(data_dir, "redditIsHate.json"))

In [8]:
reddit_1["full_text"] = reddit_1["title"] + " " + reddit_1["text"]
reddit_1 = reddit_1.drop(["title", "text", "post_id"], axis=1)
reddit_1.rename(columns={"full_text": "text", "subreddit_title": "topic"}, inplace=True)
reddit_1.head()

              topic                                               text
0  Polski Subreddit  Oficjalne wyniki gosowania do Sejmu z 100%* o...
1  Polski Subreddit  Wielkie Gosowanie nad zmian regulaminu /r/Po...
2  Polski Subreddit  Rozwi偶my to raz na zawsze Sernik z czy bez ro...
3  Polski Subreddit                                       Hipokryzja?
4  Polski Subreddit  Od 3 tygodni dzie w dzie mcz mnie spam tel...

In [9]:
reddit_2["full_text"] = reddit_2["title"] + " " + reddit_2["text"]
reddit_2 = reddit_2.drop(["title", "text", "post_id", "subreddit_title"], axis=1)
reddit_2.rename(columns={"full_text": "text", "keyword": "topic"}, inplace=True)
reddit_2.head()

                   topic                                               text
0  Platforma Obywatelska  Pis ma tylko 157 Pos贸w.. Pis - 157  \nSuweren...
1  Platforma Obywatelska  Program edukacyjny PiS i KO (2) Jako, 偶e w pop...
2  Platforma Obywatelska  Wspominki. Giertych: Po co nam Platforma Obywa...
3  Platforma Obywatelska                 Just Platforma Obywatelska things
4  Platforma Obywatelska  Platforma Obywatelska startuje z akcj "Dru偶yn...

In [10]:
reddit_3["full_text"] = reddit_3["title"] + " " + reddit_3["text"]
reddit_3 = reddit_3.drop(["title", "text", "subreddit_title", "post_id"], axis=1)
reddit_3.rename(columns={"full_text": "text", "keyword": "topic"}, inplace=True)
reddit_3.head()

                   topic                                               text
0  Platforma Obywatelska  Magdalena Biejat ma wystartowa w okrgu 44 w ...
1  Platforma Obywatelska                 Just Platforma Obywatelska things
2  Platforma Obywatelska                                           Babcia+
3   Koalicja Obywatelska                                               Co?
4   Koalicja Obywatelska                    Jak gosowali modsi i starsi.

In [11]:
reddit = pd.concat([reddit_1, reddit_2, reddit_3], ignore_index=True)
reddit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26130 entries, 0 to 26129
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   topic   26130 non-null  object
 1   text    26130 non-null  object
dtypes: object(2)
memory usage: 408.4+ KB

In [14]:
reddit.drop_duplicates(inplace=True)
reddit["source"] = "reddit"
reddit.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23616 entries, 0 to 26129
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   topic   23616 non-null  object
 1   text    23616 non-null  object
 2   source  23616 non-null  object
dtypes: object(3)
memory usage: 738.0+ KB

In [17]:
youtube_1 = pd.read_feather(os.path.join(data_dir, "comments_df_pandoragate.feather"))
youtube_2 = pd.read_feather(os.path.join(data_dir, "comments_df_wybory 2023.feather"))
youtube = pd.concat([youtube_1, youtube_2], ignore_index=True)

In [18]:
youtube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465483 entries, 0 to 465482
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 465483 non-null  object
 1   topic              465483 non-null  object
 2   publishedAt        465483 non-null  datetime64[ns]
 3   authorDisplayName  465483 non-null  object
 4   textOriginal       465483 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 17.8+ MB

In [19]:
youtube = youtube.drop_duplicates()
youtube["textOriginal"].dropna(inplace=True)
youtube = youtube.drop(["id", "authorDisplayName"], axis=1)
youtube.rename(columns={"textOriginal": "text", "publishedAt": "date"}, inplace=True)
youtube["source"] = "youtube"
youtube.head()
youtube.info()

<class 'pandas.core.frame.DataFrame'>
Index: 131734 entries, 0 to 434512
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   topic   131734 non-null  object
 1   date    131734 non-null  datetime64[ns]
 2   text    131734 non-null  object
 3   source  131734 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 5.0+ MB

In [20]:
youtube.head()

,topic,date,text,source
0,pandoragate,2023-10-24 01:30:53,Budda i Ulfik si nie odwr贸cili.,youtube
1,pandoragate,2023-10-25 09:06:41,No i?,youtube
2,pandoragate,2023-10-25 09:04:23,Budda szacun. \n\nBoxdel odczekaj chwil. ...,youtube
3,pandoragate,2023-10-25 06:52:35,Frajerzy,youtube
4,pandoragate,2023-10-25 06:28:47,Wanie zastanawiaem si jak bdzie z Budd.,youtube

In [21]:
wykop_1 = pd.read_csv(os.path.join(data_dir, "data_300_new.csv"), index_col=0)
wykop_2 = pd.read_csv(os.path.join(data_dir, "wykop_data_5000_pages.csv"), index_col=0)
wykop_3 = pd.read_csv(
    os.path.join(data_dir, "wykop_data_informacje_5000_pages.csv"), index_col=0
)
wykop_4 = pd.read_csv(
    os.path.join(data_dir, "wykop_data_nowetagi_1000_pages.csv"), index_col=0
)
wykop_5 = pd.read_csv(
    os.path.join(data_dir, "wykop_data_nowetagi2_1000_pages.csv"), index_col=0
)
wykop_6 = pd.read_json(os.path.join(data_dir, "wykop_data_nowetagi3_1000_pages.json"))

In [22]:
def clear_wykop(data):
    data = data.drop_duplicates()
    data = data.drop(
        ["post_id", "author", "rating", "comments", "is_reply", "replies_to"], axis=1
    )
    data = data.rename(columns={"content": "text", "tag": "topic"})
    data["source"] = "wykop"
    return data

In [23]:
wykop_1 = clear_wykop(wykop_1)
wykop_2 = clear_wykop(wykop_2)
wykop_3 = clear_wykop(wykop_3)
wykop_4 = clear_wykop(wykop_4)
wykop_5 = clear_wykop(wykop_5)
wykop_6 = clear_wykop(wykop_6)

In [24]:
wykop_1.head()

,date,text,topic,source
0,2023-10-15 13:45:19,Zagosuje na uczciwego czowieka z zawodem typ...,wybory,wykop
1,2023-10-15 13:45:18,"#wybory dobra, mniejsza o to kto wygra bo to r...",wybory,wykop
2,2023-10-15 13:44:54,"Nie lubi ludzi. Tak po prostu, nic nowego. Ja...",wybory,wykop
3,2023-10-15 13:44:47,#wybory #humor #mem #pis #po #smieszne,wybory,wykop
4,2023-10-15 13:44:45,Nie mieszkam w Polsce od ok 20 lat. Nie gosow...,wybory,wykop

In [26]:
combined = pd.concat(
    [wykop_1, wykop_2, wykop_3, wykop_4, wykop_5, wykop_6, youtube, reddit],
    ignore_index=True,
)
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223245 entries, 0 to 223244
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    199629 non-null  object
 1   text    223245 non-null  object
 2   topic   223245 non-null  object
 3   source  223245 non-null  object
dtypes: object(4)
memory usage: 6.8+ MB

In [27]:
wiki_dir = os.path.join(parent_dir, "final_wikidumps")
wiki_data = []

for file in os.listdir(wiki_dir):
    if file.endswith(".json"):
        try:
            with open(os.path.join(wiki_dir, file), "r") as read_file:
                wiki_metadata = json.load(read_file)
                with open(
                    os.path.join(wiki_dir, file.replace("_metadata.json", "")), "r"
                ) as fp:
                    text = fp.read()
                    title = wiki_metadata["title"]
                    wiki_data.append(
                        {"title": title, "text": text, "source": "wikipedia"}
                    )

        except:
            pass
wikipedia = pd.DataFrame(wiki_data)

In [44]:
combined.to_csv(os.path.join(parent_dir,"data","wzorcowy.csv"))

In [48]:
wikipedia.info()
wikipedia = wikipedia.drop_duplicates()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490568 entries, 0 to 490567
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   490568 non-null  object
 1   text    490568 non-null  object
 2   source  490568 non-null  object
dtypes: object(3)
memory usage: 11.2+ MB

In [50]:
combined_total = pd.concat([combined, wikipedia], ignore_index=True)
combined_total.to_csv(os.path.join(parent_dir,"data","pelny.csv"))